$cd-txt--invalid: #fff;
$cd-danger: red;

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 30px 50px;
  gap: 10px;

  &__title {
    color: #ffebe2;
    font-family: "Lato";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    color: #ffebe2;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & input {
      outline: none;
      width: 100%;
      transition: background-color 500ms;
      &:focus {
        border: 2px solid #045254;
      }
      &:not(:focus):invalid {
        background-color: $cd-danger;
        border: 2px solid $cd-danger;
        color: $cd-txt--invalid;
      }
    }

    &__nomprenom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &__btn {
      background-color: #c24100;
    }
  }
}

.form-label {
  color: #045254;
}

.form-group {
  width: 100%;
}

#form-controle {
  background-color: #ffebe2;
  color: #045254;
}

#form-controle-msg {
  background-color: #ffebe2;
  min-height: 130px;
}
