$cd-txt--invalid: #fff;
$cd-danger: red;

.testContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 30px;

  &__title {
    color: #ffebe2;
    font-family: "Lato";
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & input {
      outline: none;
      width: 100%;
      transition: background-color 500ms;
      &:focus {
        border: 2px solid #045254;
      }
      &:not(:focus):invalid {
        background-color: $cd-danger;
        border: 2px solid $cd-danger;
        color: $cd-txt--invalid;
      }
    }

    &__btn {
      background-color: #bf045e;
    }
  }
}

.form-label {
  color: #045254;
}

.form-group {
  width: 100%;
}

#form-controle {
  background-color: #ffebe2;
  color: #045254;
}
